.index-page {
  width: 100%;
  text-align: center;
}

.index-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 50px;
}

.index-description {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.index-wallpaper {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  border: 3px solid #474341;
}
